
<div class="row">
  <div class="col-md-8 offset-md-2">
    <input 
      type="text"
      class="form-control"
      placeholder="Search products..."
      [formControl]="searchInput"
    >
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4 mb-3" *ngFor="let product of productArr; trackBy:trackById">
    <div class="card h-100">

      <img 
        [src]="product.images[0]" 
        class="card-img-top img-fluid"
        alt="{{product.title}}"
      >

      <div class="card-body">
        <h5 class="card-title">
          {{ product.title }}
        </h5>

        <p class="card-text">
          ₹ {{ product.price }}
        </p>
      </div>

    </div>
  </div>
</div>